// Resource Script
#include "resource.h"

IDD_MAIN DIALOG 0, 0, 1024, 768
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SA-MP Custom Launcher"
FONT 8, "Segoe UI"
BEGIN
    LTEXT "Nickname:", IDC_STATIC, 20, 5, 40, 8
    EDITTEXT IDC_NICKNAME, 20, 20, 200, 25
    
    LTEXT "Character Skin:", IDC_STATIC, 20, 45, 60, 8
    LISTBOX IDC_SKINLIST, 20, 60, 200, 400
    
    LTEXT "Servers:", IDC_STATIC, 240, 45, 40, 8
    LISTBOX IDC_SERVERLIST, 240, 60, 400, 400
    
    PUSHBUTTON "Play", IDC_PLAY, 20, 480, 100, 30
    
    CONTROL "", IDC_SKINPREVIEW, "STATIC", SS_BITMAP, 660, 60, 300, 400
END